* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

header {
  background-color: #f8a100; 
  text-align: center;
  padding: 20px 0;
}

header img {
  max-width: 200px; 
}

nav {
  background-color: #004085; 
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  display: block;
}

nav a:hover {
  background-color: #002952; 
  color: #f4f4f9; 
}

main {
  background-color: #ffffff; 
  padding: 2rem;
}

main img {
  display: block;
  margin: 0 auto;
  max-width: 150px;
}

h2 {
  color: #007bff;
  text-align: center;
  margin-bottom: 1rem;
}

p {
  text-align: center;
  margin-top: 1rem;
  line-height: 1.5;
}

#skills ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

#skills li {
  background-color: #f8a100; 
  color: white;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

footer {
  background-color: #0056b3; 
  color: #ffffff;
  text-align: center;
  padding: 1rem;
}

footer p {
  margin: 0;
}