* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #f4f4f9;
  color: #010101;
}

header {
    height: 200px;
    background-color: orange;
   padding: 20px ;
  }
  
  nav {
    background-color: #0c64c2; 
  }

  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  header img {
    max-width: 200px;
    height: 75px;
    margin-top: 35px;
    margin-left: 825px 
  }

ul li about{
    margin-top:-50px
  }